<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikipedia Learn</title>

    <link rel="stylesheet" href="src/css/style.css">
</head>
<body>
    <div id="abas">
        <div id="aba_aprovados" class="active">Aprovados</div>
        <div id="aba_pendentes">Pendentes</div>
        <div id="aba_comentados">Comentados</div>
        <div id="aba_revisao">Revisao</div>
    </div>
    <div id="corpo">

    </div>
    <div id="modal-comentario"> 
        <textarea id="comentario">

        </textarea>
        <div class="botoes">
            <button id="cancelar-comentario">Cancelar</button>
            <button id="salvar-comentario">Salvar</button>
        </div>
    </div>
    <script src="src/js/vars.js"></script>
    <script src="src/js/functions.js"></script>
    <script src="src/js/eventos-click.js"></script>
    <script src="src/js/eventos-keydown.js"></script>
    <script src="src/js/script.js"></script>
</body>
</html>